/* Google Font -- Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* nav & banner related style start here */
.nav-content {
    max-width: 1083px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-content h3 {
    color: #0D1321;
    font-size: 26px;
    font-weight: 800;
}

.nav-content p {
    color: #0D1321;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 15px 22px;
}

.banner-img-container {
    background-image: url("/images/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
}

.banner-img-container h1 {
    width: 946px;
    color: #0D1321;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
}

.banner-img-container p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    width: 809px;
}

.banner-img-container button {
    border-radius: 8px;
    background: #0D1321;
    padding: 20px 23px;
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    border: none;
    margin-top: 32px;
}

/* nav & banner related style end here */
/* Web Development related style start here */
.main {
    max-width: 1083px;
    margin: 0 auto;
    margin-bottom: 90px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.main-container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 92px 80px;
}

.main-container>h3 {
    color: #0D1321;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.main-container>p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    margin: 24px 0px 48px 0px;
}

.web-developer-level-container {
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.web-developer-level {
    display: flex;
    justify-content: space-between;
    padding: 48px 45px;
}

.web-developer-level-content {
    width: 453px;
}

.web-developer-level-content h3 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 22px;
    font-weight: 700;
    width: 370px;
}

.web-developer-level-content>p {
    margin: 16px 0 32px 0;
    color: #0D1321;
    font-size: 15px;
}

.learn-more-wd {
    color: #0D1321;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 12px 18px;
    width: 162px;
}

.wd-skill-2 {
    margin: 32px 0;
}

.wd-skill-2 h3 {
    width: 453px;
}

/* Web Development related style End here */