/* Google Font -- Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* nav & banner related style start here */
.nav-content {
    max-width: 1083px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-content h3 {
    color: #0D1321;
    font-size: 26px;
    font-weight: 800;
}

.nav-content p {
    color: #0D1321;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 15px 22px;
}

.banner-img-container {
    background-image: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
}

.banner-img-container h1 {
    width: 946px;
    color: #0D1321;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
}

.banner-img-container p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    width: 809px;
}

.banner-img-container button {
    border-radius: 8px;
    background: #0D1321;
    padding: 20px 23px;
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    border: none;
    margin-top: 32px;
}

/* nav & banner related style end here */
/* Web Development related style start here */
.main {
    max-width: 1083px;
    margin: 0 auto;
}

.main-container {
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 92px 80px;
    margin-bottom: 90px;
}

.main-container>h3 {
    color: #0D1321;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.main-container>p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    margin: 24px 0px 48px 0px;
}

.web-developer-level-container {
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.web-developer-level {
    display: flex;
    justify-content: space-between;
    padding: 48px 45px;
}

.web-developer-level-content {
    width: 453px;
}

.web-developer-level-content h3 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 22px;
    font-weight: 700;
    width: 370px;
}

.web-developer-level-content>p {
    margin: 16px 0 32px 0;
    color: #0D1321;
    font-size: 15px;
}

.learn-more-wd {
    color: #0D1321;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 12px 18px;
    width: 162px;
}

.wd-skill-2 {
    margin: 32px 0;
}

.wd-skill-2 h3 {
    width: 453px;
}

/* Web Development related style End here */
/* My Inspiration related Style Start Here */
.my-inspiration-container h1 {
    color: #0D1321;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.my-inspiration-container p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    margin: 24px auto 48px auto;
    width: 810px;
}

.my-inspiration {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

.my-inspiration-img {
    padding: 32px 30px;
}

.my-inspiration-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* My Inspiration related Style End Here */
/*My Current & Next Target related Style Start Here  */
.my-current-target-container {
    margin-top: 150px;
    margin-bottom: 111px;
}

.my-current-target-content h1 {
    color: #0D1321;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.my-current-target-content p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    margin: 24px auto 48px auto;
    width: 810px;
}

.my-current-target-learning {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.my-current-target {
    padding: 40px 38px;
}

.my-current-target h3 {
    color: #0D1321;
    font-size: 22px;
    font-weight: 800;
    padding-top: 24px;
}

.my-current-target p {
    color: #0D1321;
    font-size: 15px;
    padding-top: 8px;
}

.my-current-target h4 {
    color: #0D1321;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 24px;
}

.my-current-target-learning-container {
    display: flex;
    gap: 22px;
}

.css-learn {
    background: rgba(0, 76, 232, 0.05);
}

.js-learn {
    background: rgba(255, 223, 0, 0.05);
}

.my-next-target-container h1 {
    color: #0D1321;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.my-next-target-container p {
    color: #0D1321;
    text-align: center;
    font-size: 15px;
    margin: 24px auto 48px auto;
    width: 810px;
}

.my-next-learning-target-container {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.my-next-learning-target {
    padding: 40px 38px;
    display: flex;
    gap: 22px;
}

.my-next-learning-target-content h3 {
    color: #0D1321;
    font-size: 22px;
    font-weight: 800;
}

.my-next-learning-target-content p {
    color: #0D1321;
    font-size: 15px;
    padding-top: 8px;
}

.my-next-learning-target-content h4 {
    color: #0D1321;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 24px;
}

.node-js {
    margin: 24px 0px;
}

/*My Current & Next Target related Style End Here  */
/* Footer related Style start Here */
.support-me-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("../images/handshake.jpg") lightgray 50%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1083px;
    margin: 49px auto 80px auto;
}

.support-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
}

.support-me {
    width: 693px;
    text-align: center;
}

.support-me h3 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.support-me p {
    color: #FFF;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 24px;
}

.support-me-content form {
    display: flex;
    gap: 15px;
    width: 50%;
}

.support-me-content form input[type="text"] {
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 19px;
    width: 100%;
    border: none;
    outline: none;
}

.support-me-content form input[type="submit"] {
    border-radius: 8px;
    background: #FFF;
    padding: 19px;
    border: none;
    outline: none;
}

.social-media-container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.social-media-contact {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1083px;
    margin: 0 auto;
    align-items: center;
}

.social-media-contact p {
    color: #0D1321;
    font-size: 19px;
    font-weight: 600;
}

/* Footer related Style end Here */